<h1>Welcom to McDowell's</h1>

<h2>Please Place your order with Maurice</h2>

<h2>What burger would you like?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="eat">Devour?</label><br>
    <input type="radio" name="eat" value="1" checked> YUMMY!<br>
    <input type="radio" name="eat" value="0"> Held up at gun point
  </div>

  <button type="submit">Order Burger</button>
</form>
