{{!-- list of burgers --}}

{{!-- heading --}}
<div class="container-fluid">
<div class="row">
  <div class="col-md-12 text-center" id="top-section">
    <img class="logo" src="/assets/css/img/mcdowells-logo.jpg" alt="McDowell's burgers logo" />
      <h1>Welcome to McDowell's</h1>
      <h3>Please place your order with Maurice</h3>
  </div>
</div>
</div>

{{!-- menu items --}}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 text-center" class="order">
      <ul>
        {{#each burgers_data}}
          
            {{> burgers/burger-block }}
          
        {{/each}}
      </ul>
    

      <form class="devour-form button-size">
        <div class="form-group">
        <input type="hidden" class="burger_id" type="text" value="">
        <button type="submit" class="btn btn-defaut"></button>
      </form>


    </div>
  </div>
</div>



{{!-- order form --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" class="order">

    <h2>Please Place your order with Maurice</h2>
    <form class="create-update-form">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>
        <button class="order-burger" type="submit">Order Burger</button>
    </form>
  </div>
</div>
 </div>
