<div class="container">
<div class="row">
  <div class="col-md-12 text-center" id="top-setion">
    <img src="/assets/css/img/mcdowells-logo.jpg" alt="McDowell's burgers logo" />
      <h1>Welcom to McDowell's</h1>
  </div>
  <div class="col-md-6 text-center" class="order">
    <div class="row">
      <h2>Please Place your order with Maurice</h2>
      {{#each burgers_data}}
      {{#unless this.devoured}}
        <div class="col-md-9 text-center">
          <pre>{{this.id}}. {{this.name}}
          </pre>
        </div>
        <div class="col-md-3 text-center">
          <form class="devour-form button-size">
            <input input type="hidden" class="burger_id" type="text" value="">
            <button type="submit" class="btn btn-defaut"></button>
          </form>
        </div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>
<div class="col-md-6 text-center" class="order">
  <div class="row">
    <h2>What burger would you like?</h2>
    <form class="create-update-form">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>
        <button type="submit">Order Burger</button>
    </form>
  </div>
</div>
 </div>