.logo {
  height: 275px;
  margin-top: 50px;
}

#top-section {
  background-color: #C62B29;
}

h1,
h2,
h3 
{ color: white;
  padding: 15px 0 15px 0;
}

h1 {
  font-size: 52px !important;
}
h2 {
font-size: 32px !important;
}

ul {
  list-style-type: none; 
}

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  background: #C62B29;
}

.form-group {
  margin-bottom: 15px;
}

.order-burger {
  border: none;
  font-size: 18px;
  border-radius: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: white; 
  color:#C62B29;
}

.order-burger:hover {
  border: none;
  font-size: 18px;
  border-radius: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: yellow; 
  color:#C62B29;
}

.delete-burger, 
.devour-burger {
  border: none;
  background-color: #C62B29;
  color: yellow;
}